*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #070e16;
}

 .about{
      background-color: black;
      margin: 0px;
     }

.head1{
      display: flex;
      color: white;
      padding-top: 13px;
      padding-bottom: 10px;
      border-bottom: 1px double rgba(255,255,255,0.2);;
      }

.head1 a{
     color:rgba(255,255,255,0.2);
     text-decoration: none;
     color: #bbbbbb;
     font-size: large;
     display: block;
     padding-left: 70px; 
     padding-top: 5px;
     }

.head1 a:hover{
     cursor: pointer;
     color: red;
    }

#l0{
  margin-left: 5px;
 }


#l1{
padding-left: 45%;
padding-top: 5px;
}

.reservations {
  background-color: #1f1f1f;
  padding: 80px 0;
  text-align: center;
}

.reservation-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #333;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.reservation-form h2 {
 color: #fff;
font-size: 28px;
 margin-bottom: 20px;
}

.reservation-form form input,
.reservation-form form textarea {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: none;
}

.reservation-form form button {
display: inline-block;
background-color: #ff0000;
color: #fff;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
transition: background-color 0.3s ease;
}

.reservation-form form button:hover {
  background-color: #e60000;
  }


  .footer{
    background-image: url(footer-bg.jpg);
    width: 100%;
    height: 550px;
    margin-top: 150px;
   }
   
   .dis_flex{
    display: flex;
   text-align: center;
   }
   
   
   .liet{
    margin-left: 180px;
    list-style: none;
   }
   
   .dis_inline ul li :hover{
    color: whitesmoke;
    border-bottom: 5px double  rgb(199, 157, 78);
   }
   
   .dis_inline ul li a{
    color:rgba(255,255,255,0.2);
    text-decoration: none;
    font-weight: 300px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
   }
   
   #one{
    font-size: 18px;
    padding-top: 65px;
   }
   
   #two{
    font-size: 18px;
    padding-top: 20px;
   }
   
   #three{
    font-size: 18px;
    padding-top: 20px;
   }
   
   #four{
    font-size: 18px;
    padding-top: 20px;
   }
   
   #five{
    font-size: 18px;
    padding-top: 20px;
   }
   
   
   
   .liet1{
    background-image: url(footer-form-bg.png);
    margin-left: 120px;
    width: 570px;
    height: 450px;
    padding-top: 30px;
    margin-top: 30px;
   }
   
   .dis_inline1 ul li a{
    color:rgba(255,255,255,0.2);;
    text-decoration: none;
    font-weight: 300px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
   }
   
   #six{
    padding-top: 18px;
    font-size: 18px;
   }
   
   #seven{
    padding-top: 18px;
    font-size: 18px;
   }
   
   #eight{
    padding-top: 18px;
    font-size: 18px;
   }
   
   #nine{
    padding-top: 18px;
    font-size: 18px;
   }
   
   #line_design1{
    width: 110px;
    height: 38px;
    padding-top: 20px;
   }
   
   #ten{
    color: whitesmoke;
    font-size: 27px;
    letter-spacing: 3px;
    padding-top: 16px;
    list-style: none;
   }
   
   #eleven{
    font-size: 17px;
    color: #bbbbbb;
    padding-top: 9px;
    list-style: none;
   }
   
   #twelve{
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 7px;
    margin-top: 23px;
    padding-left: 5px;
    background-color: black;
    color: white;
   }
   
   #buton{
    color:var(--gold-crayola);
    height: 35px;
    width: 20%;
    border: none;
    border-radius: 4px;
   }
   
   #buton:hover{
    background-color: rgb(199, 157, 78);
   
   }
   
   .liet2{
    padding-left: 190px;
   }
   
   .dis_inline2 ul a{
    color:rgba(255,255,255,0.2);
    text-decoration: none;
    font-weight: 300px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
   }
   
   
   #icon{
   font-size: 30px;
   margin-top: 60px;
   }
   
   #icon1{
    font-size: 30px;
    margin-top: 30px;
   }
   
   #icon2{
    font-size: 30px;
    margin-top: 30px;
   }
   
   #icon3{
    font-size: 30px;
    margin-top: 30px;
   }
   
   #icon4{
    font-size: 30px;
    margin-top: 30px;
   }
   .tutn{
    color: white;
    text-align: center;
    margin-top: 20px;
   }
    